# --- Core Framework (Full installation) ---
fastapi[all]==0.115.2
uvicorn[standard]==0.30.6
gunicorn

# --- MongoDB Drivers ---
motor==3.5.1
pymongo==4.8

# --- Validación y Configuración ---
pydantic==2.9.2
pydantic-settings==2.4.0

# --- Seguridad y Autenticación ---
python-jose==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==3.2.2

# --- Utilidades ---
python-dotenv==1.0.1

# --- Tipos (ayuda a editores y análisis estático, opcional) ---
types-python-jose
types-passlib

# --- Test ---
pytest
pytest.asyncio
