.error-toast-container {
    position: fixed;
    bottom: 12px;
    left: 16px;
    z-index: 2147483647;
    animation: slide-up 0.3s ease-out;
  }
  
  @keyframes slide-up {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .error {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    width: 320px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background: #fce8db;
    border-radius: 8px;
    border: 1px solid #ef665b;
    box-shadow: 0px 0px 5px -3px #111;
  }
  
  .error__icon {
    width: 20px;
    height: 20px;
    transform: translateY(-2px);
    margin-right: 8px;
  }
  
  .error__icon path {
    fill: #ef665b;
  }
  
  .error__title {
    font-weight: 500;
    font-size: 14px;
    color: #71192f;
  }
  
  .error__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: auto;
  }
  
  .error__close path {
    fill: #71192f;
  }
  