.error-toast-container {
  position: fixed;
  bottom: 12px;
  left: 16px;
  z-index: 2147483647;
  animation: fade-in 0.4s ease-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.97);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.97);
  }
}

.fade-out {
  animation: fade-out 0.3s ease-in forwards;
}

/* ---- BASE COMÚN ---- */
.error,
.warning,
.success {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 320px;
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  border-radius: 8px;
  border: 1px solid;
  box-shadow: 0px 0px 5px -3px #111;
}

/* ---- ERROR ---- */
.error {
  background: #fdecea;
  border-color: #f87171;
}

.error__icon path {
  fill: #ef4444;
}

.error__title {
  font-weight: 500;
  font-size: 14px;
  color: #7f1d1d;
}

.error__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.error__close path {
  fill: #7f1d1d;
}

/* ---- WARNING ---- */
.warning {
  background: #fff8e1;
  border-color: #facc15;
}

.warning__icon path {
  fill: #eab308;
}

.warning__title {
  font-weight: 500;
  font-size: 14px;
  color: #78350f;
}

.warning__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.warning__close path {
  fill: #78350f;
}

/* ---- SUCCESS ---- */
.success {
  background: #ecfdf5;
  border-color: #34d399;
}

.success__icon path {
  fill: #10b981;
}

.success__title {
  font-weight: 500;
  font-size: 14px;
  color: #064e3b;
}

.success__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: auto;
}

.success__close path {
  fill: #064e3b;
}
